@*@model IEnumerable<SubjectViewModel>*@
@{
    ViewData["Title"] = "SubjectDistribution";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Հաշվարկը հաջողությամբ կատարվեց</h2>
        </div>
        <div class="col-sm ">
</div>
    </div>
</div>