@model List<List<SubjectViewModel>>

@{
    ViewData["Title"] = "Առարկաների ուսումնասիրման հերթականությունը";
}

<h2>Առարկաների ուսումնասիրման հաջորդականությունը «@ViewBag.Profession.Name» մասնագիտության համար</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            Ձևավորել ենք առարկաների ուսումնասիրման հետևյալ հաջորդականությունը: Խնդրում ենք ստուգել, փոփոխել և պահպանել:
        </p>
        <div id="message" class="text-info"></div>
    </div>
    <div class="col-md-6">
        <div class="row pull-right">
            <button type="submit" value="Save subjects" class="btn btn-primary" onclick="onSave()">Պահպանել</button>
            <a style="color:blue" value="Cancel" onclick="location.href='@Url.Action("Index","Subject", new { professionId = ViewBag.Profession?.Id})'" class="btn btn-link">Չեղարկել</a>
        </div>
    </div>
</div>
<div>
    <div class="row container" id="semester-list"></div>
    <div class="modal fade" id="moveModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Տեղափոխել առարկան այլ կիսամյակ</h4>
                </div>
                <div id="moveModal_body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="moveSubject()">Տեղափոխել</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/custom_contents/SubjectSequence.css" />
}

@section Scripts{
    <script src="~/custom_scripts/SubjectSequenceBuilder.js"></script>
    <script>
        var model;
        var professionId = @ViewBag.Profession?.Id;
        $(document).ready(function () {
            model = @Html.Raw(Json.Serialize(Model));
            if (model.length === 9 && model[8].length === 0) {
                model.splice(9, 1);
            }
            renderSemesters();
        });

        $('#moveModal').on('hidden.bs.modal', function () {
            sessionStorage.clear();
        });

        $('#moveModal').on('shown.bs.modal', function () {
            renderModal();
        });
    </script>
}