@*@model IEnumerable<SubjectViewModel>*@
@{
    ViewData["Title"] = "SubjectDistribution";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <label>Առարկաներ</label><br>
            <select
                    class="Profession"
                    asp-items="@(new SelectList(ViewBag.ListofSubject," Name"))">
            </select>
        </div>
        <div class="col-sm ">
            <laselectarray" value="Լեկցիա" class="form-control" readonly>
                <laselectarray" value="Լաբորատոր աշխատանք" class="form-control" readonly>
                    <laselectarray" value="Գործնական" class="form-control" readonly>
</div>
    </div>
</div>

 


    }


}