/**
 * Style Select Box using Pure CSS
 */

* {
    outline: none;
}


.sigma-edge {
    stroke: #14191C;
}

.sigma-node {
    fill: green;
    stroke: #14191C;
    stroke-width: 2px;
}

.sigma-node:hover {
    fill: blue;
}

#graph {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #808080;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

#graph-container {
    position: absolute;
    background-color: #566a76;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sigma-scene, .sigma-labels, .sigma-mouse {
    left: 0;
}
