body {
    background-image: url(/backgrounds/PaintSwatches.jpg);
    background-repeat: no-repeat;
    color: black;
    background-size: 1400px 500px;
    background-position: 0px 170px;
}

#card-list{
    border: 3px solid #555;
    padding:4px;
    margin: 5px 5px;
    min-height:550px;
}
