@model UserViewModel
@{
    ViewData["Title"] = "Անձնական էջ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ողջույն @Model.Username !!!</h2>
<p class="info">Այս պահին դու չունես որևէ իրավասություն համակարգում.</p>
<p class="bg-info">Խնդրում ենք դիմեք <a>գլխավոր ադմինիստրատորին</a> հավելյալ ինֆորմացիայի համար</p>

