@model UserViewModel
@{
    ViewData["Title"] = "DefaultRoleUserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome @Model.Username !!!</h2>
<p class="info">At this moment you have not any permissions.</p>
<p class="bg-info">Please contact to <a>Base Administator</a> for additional info</p>

