@{
    ViewData["Title"] = "Գաղտնաբառի վերականգնում";
}

<h2>@ViewData["Title"]</h2>
<p>
    Մենք ուղարկել ենք գաղտնաբառի վերականգնման քայլերի հերթականությունը ձեր էլ-փոստին:  Ստուգեք ձեր էլ-փոստը:
</p>
