@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Անձնական էջ";
 }

<div>
    @Html.Partial("_AdminSideMenu", ViewBag.User as UserViewModel)
    <div class="col-md-9 col-sm-8">

    </div>
</div>

@section Styles{ 
    <style>
        body {
            background-image: url(../backgrounds/userlist.png) !important;
            background-repeat: no-repeat;
            background-size: 1400px 400px;
            background-position: 0px 300px;
        }

    </style>
}