@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ձեր գաղտնաբառը վերականգնված է: Խնդրում ենք <a asp-action="Login">սեղմել այստեղ</a> մուտք գործելու համար:
</p>
