@model DiplomaProject.Domain.ViewModels.StakeHolderViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Ավելացնել</h2>

<h4>Նոր շահակից</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" asp-items="@(new SelectList(ViewBag.Types, "Id", "TypeName"))" class="form-control">
                    <option value="-1">Ընտրեք շահակցի տիպը</option>
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" asp-items="@(new SelectList(ViewBag.Branches, "Id", "Name"))" class="form-control">
                    <option value="-1">Ընտրեք ոլորտը</option>
                </select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ավելացնել" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Stakeholders" asp-controller="Admin">Հետ գնալ ցանկ</a>
</div>

