.space {
    max-width: 100%;
    height: 20px;
    background-color: darkturquoise;
    padding-top: 100px;
    padding-bottom: 25px
}

.page {
    border: inset;
    border-color: darkgray;
    height: auto;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
}

h4 {
    padding-top: 30px;
}

select {
    width: 300px;
}

.Form{
    padding-left: 20px;
}

.profession {
    padding-left: 150px;
    padding-bottom: 15px;
}

.Radio {
    padding-left: 115px;
    padding-bottom: 15px;
}

.Subject {
    padding-top: 30px;
}

.Azat {
    padding-top: initial;
    padding-left: 400px;
}