@model IEnumerable<OutcomeViewModel>

@{
    ViewData["Title"] = "GraphPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Graph View</h2>

    <div>
        Selected Profession @ViewBag.ProfessionName
    </div>
    <div>
        <div id="dependencies" class="col-md-6">
        </div>
        <div class="col-md-6">
            Not Implemented
        </div>
    </div>
    <div>
        <button onclick="addDependency()">Add Dependency</button>
    </div>

@section Styles{ 
    <link rel="stylesheet" href="~/custom_contents/GraphView.css" />
}
@section Scripts {

    <script src="~/custom_scripts/GraphBuilder.js" type="text/javascript"></script>
    <script>
        $(document).ready(function ()
        {
            $(document).ready(() => {
                if (!sessionStorage.getItem('edges')) {
                     sessionStorage.setItem('edges', JSON.stringify([]));
                    }
                if (!sessionStorage.getItem('nextId')) {
                    sessionStorage.setItem('nextId', '-1');

                    }
                if (!sessionStorage.getItem('nodes')) {
                 sessionStorage.setItem('nodes', '@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))');
                }
                const edges = JSON.parse(sessionStorage.getItem('edges'));
                updateDependencies(edges);
                    });
            //const outcomes = JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))');
            //buildGraph(outcomes);
    });
    </script>
    <script>

    </script>
}--