@model IEnumerable<OutcomeViewModel>

@{
    ViewData["Title"] = "GraphPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Model.ToList();
    List<string> array = new List<string>();
    foreach (var item in Model.ToList())
    {
        array.Add(Newtonsoft.Json.JsonConvert.SerializeObject(item));
    }
}

<h2>GraphPage</h2>

<div></div>

@section Scripts {

}