@using Microsoft.AspNetCore.Identity
@using DiplomaProject.Domain.ViewModels
@using DiplomaProject.Domain.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Admin" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Admin" asp-action="UpdateAccount" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link glyphicon glyphicon-log-out"> Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Admin" asp-action="Register" class="glyphicon glyphicon-user"> Sign Up</a></li>
        <li><a asp-controller="Admin" asp-action="Login" class="glyphicon glyphicon-log-in"> Login</a></li>
    </ul>
}
