@{
    ViewData["Title"] = "Մեր մասին";
}
<style>
    body{
        background-image:url(../../wwwroot/backgrounds/begin.jpg);
    }
</style>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Հավելյալ ինֆորմացիա</p>
<p>Hakob: Barev Team</p>
