@{
    ViewData["Title"] = "Մեր մասին";
}
<style>
    body{
        background-image:url(../../wwwroot/backgrounds/begin.jpg);
    }
</style>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p style="font-size:17px">
    Ներկայումս շրջանավարտի համար բավականին լուրջ խնդիր է հանդիսանում անմիջապես գտնել աշխատանք։
    Ուսումնասիրությունները ցույց են տվել, որ առկա ուսումնական ծրագրերով պատրաստվող մասնագետները
    հիմնականում չեն համապատասխանում աշխատաշուկայի պահանջներին։ Բացի այդ նորովի մշակվող կրթական
    ուսումնական պլանները պետք է իրականացվեն  Եվրոպական կրթական տարածաշրջանի պահանջներին համահունչ։
    Այդ իսկ պատճառով ստեղծվել է տվյալ համակարգը այդ խնդիրներին լուծում տալու համար, որը
    համապատասխանեցված է Բոլոնյան համակարգի պահանջներին։ Համակարգի գործառույթների մեջ 
    մտնում է ձևավորել հարցաթերթիկ, որից կստացվեն տվյալներ։ Ստացված տվյալներով առարկաների
    միջև հաստատվում են կապեր և արդյունքում ձևավորվում է դասացուցակ։
</p>
