@{
    ViewData["Title"] = "Հետադարձ կապ";
}
<style>
    body {
        background-image: url(../../wwwroot/backgrounds/begin.jpg);
    }
</style>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    National Polytechnic University of Armenia<br />
    str. Teryan, 105<br />
    <abbr title="Phone">P:</abbr>
    093 - 69 - ** -**
</address>

<address>
    <strong>Աջակցություն:</strong> <a href="mailto:hakobpapazyan2@gmail.com">hakobpapazyan2@gmail.com</a><br />
</address>
