
@{
    ViewData["Title"] = "Գլխավոր";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="text-center">Ուսումնական պլանի ձևավորման համակարգ</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="text">
                ԲՈՒՀ-ի ուսումնական գործընթացի ղեկավարումը բաղկացած է բազմաթիվ խնդիրներից։
                Կարևորագույն խնդիրներից է՝ շահակիցների պահանջներին համապատասխանող վերջարդյունքների հիման վրա   ուսումնական պլանների ձևավորման գործընթացի իրականացումը։
            </p>
            <p class="text">Ժամանակակից պահանջներին համապատասխանող մասնագետների պատրաստումը բերում է ուսումնական պլանների շարունակական (անընդմեջ) բարելավմանը:
            Այդ շարունակական գործընթացը կապահովի ուսումնական պլանների ամբողջական համապատասխանությունը որակյալ մասնագետի պատրաստմանը:</p>
            <p>Ելնելով վերը նշվածից, կարելի եզրակացնել, որ ուսումնական պլանները պետք է լինեն բավականին ճկուն մասնագետի նկատմամբ հաճախ փոփոխվող պահանջների նկատմամբ:</p>
        </div>
        <div class="col-md-6">
            <p class="text-center">Ուսումնական պլանի ձևավորման փուլերը</p>
            <img class="img-responsive" src="~/custom_contents/img-levels.png" />
        </div>
    </div>
</div>
